---
import ThemeToggle from "./ThemeToggle.astro";
import { EXTERNAL_LINKS } from "../lib/links";
---

<footer class="license-footer">
    <div class="license-footer-inner">
        <div class="license-footer-brand">
            <p class="license-footer-kicker">Brought to you by</p>
            <a href={EXTERNAL_LINKS.wpAnchorBay} class="license-footer-logo">
                <svg class="wpanchorbay-footer-logo" viewBox="0 0 1109 215" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="logo-text" d="M1103.38 81.77C1105.93 81.77 1107.67 84.3536 1106.7 86.7111L1068.25 180.63C1067.69 181.976 1066.38 182.856 1064.93 182.856H1060.88C1058.34 182.856 1056.6 180.273 1057.57 177.916L1068.54 151.1C1068.89 150.232 1068.89 149.259 1068.54 148.391L1043.39 86.7064C1042.42 84.3494 1044.16 81.77 1046.7 81.77H1051.59C1053.07 81.77 1054.39 82.6793 1054.93 84.0589L1072.25 128.779C1073.44 131.838 1077.77 131.829 1078.94 128.766L1096.05 84.0721C1096.58 82.6856 1097.91 81.77 1099.4 81.77H1103.38Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M966.773 115.885C966.773 108.862 968.195 102.716 971.038 97.4489C973.881 92.0978 977.768 87.959 982.702 85.0326C987.718 82.1063 993.279 80.6431 999.382 80.6431C1005.4 80.6431 1010.63 81.939 1015.06 84.531C1019.49 87.1229 1022.79 90.3838 1024.97 94.3135V85.3552C1024.97 83.3761 1026.57 81.7718 1028.55 81.7718H1032.92C1034.9 81.7718 1036.51 83.3761 1036.51 85.3552V146.917C1036.51 148.896 1034.9 150.5 1032.92 150.5H1028.55C1026.57 150.5 1024.97 148.896 1024.97 146.917V137.708C1022.71 141.721 1019.32 145.065 1014.81 147.741C1010.38 150.333 1005.19 151.629 999.257 151.629C993.153 151.629 987.635 150.124 982.702 147.114C977.768 144.104 973.881 139.882 971.038 134.447C968.195 129.012 966.773 122.825 966.773 115.885ZM1024.97 116.011C1024.97 110.827 1023.92 106.312 1021.83 102.466C1019.74 98.6194 1016.9 95.6931 1013.3 93.6864C1009.79 91.5961 1005.9 90.551 1001.64 90.551C997.376 90.551 993.488 91.5543 989.976 93.561C986.464 95.5676 983.663 98.494 981.573 102.34C979.482 106.186 978.437 110.701 978.437 115.885C978.437 121.153 979.482 125.751 981.573 129.681C983.663 133.527 986.464 136.495 989.976 138.586C993.488 140.592 997.376 141.596 1001.64 141.596C1005.9 141.596 1009.79 140.592 1013.3 138.586C1016.9 136.495 1019.74 133.527 1021.83 129.681C1023.92 125.751 1024.97 121.194 1024.97 116.011Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M944.165 105.475C947.342 105.977 950.227 107.273 952.819 109.363C955.494 111.453 957.584 114.045 959.089 117.139C960.678 120.233 961.472 123.535 961.472 127.047C961.472 131.478 960.344 135.492 958.086 139.087C955.829 142.599 952.526 145.4 948.178 147.49C943.914 149.496 938.855 150.5 933.002 150.5H903.977C901.998 150.5 900.394 148.896 900.394 146.916V66.6678C900.394 64.6888 901.998 63.0845 903.977 63.0845H931.748C937.685 63.0845 942.743 64.0878 946.924 66.0945C951.105 68.0175 954.24 70.6513 956.33 73.9957C958.421 77.3402 959.466 81.1027 959.466 85.2832C959.466 90.4671 958.044 94.7731 955.202 98.2011C952.442 101.546 948.763 103.97 944.165 105.475ZM911.807 97.2515C911.807 99.2305 913.411 100.835 915.39 100.835H930.996C936.347 100.835 940.486 99.5807 943.412 97.0724C946.339 94.564 947.802 91.0942 947.802 86.6628C947.802 82.2314 946.339 78.7615 943.412 76.2532C940.486 73.7449 936.263 72.4907 930.745 72.4907H915.39C913.411 72.4907 911.807 74.095 911.807 76.0741V97.2515ZM931.999 141.094C937.685 141.094 942.116 139.756 945.293 137.08C948.471 134.405 950.059 130.684 950.059 125.918C950.059 121.069 948.387 117.264 945.043 114.505C941.698 111.662 937.225 110.241 931.623 110.241H915.39C913.411 110.241 911.807 111.845 911.807 113.824V137.51C911.807 139.489 913.411 141.094 915.39 141.094H931.999Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M860.04 83.1904C860.04 85.8489 863.942 87.1784 866.011 85.5085C867.091 84.6363 868.237 83.8506 869.447 83.1514C872.211 81.493 875.2 80.4437 878.416 80.0036C880.377 79.7352 881.989 81.3695 881.989 83.3485V98.8822C881.989 100.861 880.384 102.466 878.405 102.466H876.094C870.743 102.466 866.729 103.636 864.054 105.977C861.378 108.235 860.04 112.248 860.04 118.017V146.917C860.04 148.896 858.436 150.5 856.457 150.5H842.177C840.198 150.5 838.594 148.896 838.594 146.917V84.101C838.594 82.122 840.198 80.5176 842.177 80.5176H857.368C858.844 80.5176 860.04 81.7143 860.04 83.1904Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M796.865 151.504C790.009 151.504 783.821 150.041 778.303 147.114C772.868 144.188 768.562 140.007 765.385 134.573C762.291 129.138 760.744 122.783 760.744 115.509C760.744 108.319 762.333 102.006 765.51 96.5713C768.687 91.053 773.035 86.8306 778.554 83.9042C784.072 80.9778 790.259 79.5146 797.116 79.5146C803.972 79.5146 810.159 80.9778 815.678 83.9042C821.196 86.8306 825.544 91.053 828.721 96.5713C831.898 102.006 833.487 108.319 833.487 115.509C833.487 122.7 831.857 129.054 828.596 134.573C825.418 140.007 821.029 144.188 815.427 147.114C809.908 150.041 803.721 151.504 796.865 151.504ZM796.865 132.942C800.962 132.942 804.432 131.437 807.274 128.427C810.201 125.417 811.664 121.111 811.664 115.509C811.664 109.907 810.243 105.601 807.4 102.591C804.641 99.5813 801.213 98.0763 797.116 98.0763C792.935 98.0763 789.465 99.5813 786.706 102.591C783.947 105.518 782.567 109.824 782.567 115.509C782.567 121.111 783.905 125.417 786.58 128.427C789.34 131.437 792.768 132.942 796.865 132.942Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M729.789 79.7662C737.816 79.7662 744.254 82.4417 749.104 87.7929C753.953 93.0603 756.378 100.335 756.378 109.615V146.918C756.378 148.897 754.774 150.501 752.795 150.501H738.64C736.661 150.501 735.057 148.897 735.057 146.918V112.5C735.057 107.818 733.844 104.181 731.42 101.589C728.995 98.9967 725.734 97.7008 721.637 97.7008C717.54 97.7008 714.279 98.9967 711.854 101.589C709.429 104.181 708.217 107.818 708.217 112.5V146.918C708.217 148.897 706.613 150.501 704.634 150.501H690.354C688.375 150.501 686.771 148.897 686.771 146.918V61.2762C686.771 59.2972 688.375 57.6929 690.354 57.6929H704.634C706.613 57.6929 708.217 59.2972 708.217 61.2762V78.5932C708.217 82.0933 713.664 84.269 716.789 82.6909C716.899 82.6352 717.01 82.58 717.122 82.5253C720.884 80.6859 725.107 79.7662 729.789 79.7662Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M612.84 115.509C612.84 108.235 614.303 101.881 617.229 96.4459C620.24 91.0112 624.378 86.8306 629.646 83.9042C634.997 80.9778 641.101 79.5146 647.957 79.5146C656.736 79.5146 664.052 81.814 669.905 86.4126C674.782 90.1905 678.277 95.238 680.389 101.555C681.115 103.727 679.401 105.852 677.112 105.852H661.263C659.751 105.852 658.445 104.878 657.717 103.553C655.621 99.7346 652.242 97.8255 647.581 97.8255C643.651 97.8255 640.516 99.3723 638.174 102.466C635.833 105.476 634.663 109.824 634.663 115.509C634.663 121.195 635.833 125.584 638.174 128.678C640.516 131.688 643.651 133.193 647.581 133.193C652.242 133.193 655.621 131.284 657.717 127.465C658.445 126.14 659.751 125.166 661.263 125.166H677.092C679.388 125.166 681.102 127.303 680.358 129.475C678.243 135.65 674.759 140.652 669.905 144.48C663.969 149.163 656.653 151.504 647.957 151.504C641.101 151.504 634.997 150.041 629.646 147.114C624.378 144.188 620.24 140.007 617.229 134.573C614.303 129.138 612.84 122.783 612.84 115.509Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M581.505 79.7651C589.699 79.7651 596.22 82.4407 601.07 87.7918C606.003 93.0593 608.47 100.333 608.47 109.614V146.917C608.47 148.896 606.865 150.5 604.886 150.5H590.732C588.753 150.5 587.149 148.896 587.149 146.917V112.499C587.149 107.817 585.936 104.18 583.511 101.588C581.087 98.9957 577.826 97.6997 573.729 97.6997C569.632 97.6997 566.371 98.9957 563.946 101.588C561.521 104.18 560.309 107.817 560.309 112.499V146.917C560.309 148.896 558.705 150.5 556.726 150.5H542.446C540.467 150.5 538.862 148.896 538.862 146.917V84.101C538.862 82.122 540.467 80.5176 542.446 80.5176H558.079C559.311 80.5176 560.309 81.5159 560.309 82.7474C560.309 84.9253 563.477 86.0831 565.239 84.8022C566.414 83.9473 567.698 83.188 569.088 82.5243C572.767 80.6849 576.906 79.7651 581.505 79.7651Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M508.295 137.384C507.802 135.929 506.437 134.95 504.901 134.95H477.181C475.645 134.95 474.28 135.929 473.787 137.384L470.168 148.068C469.675 149.522 468.31 150.501 466.774 150.501H452.001C449.517 150.501 447.786 148.035 448.631 145.699L477.894 64.8231C478.408 63.4042 479.755 62.459 481.264 62.459H501.069C502.578 62.459 503.925 63.4042 504.438 64.8231L533.701 145.699C534.547 148.035 532.816 150.501 530.332 150.501H512.738L508.295 137.384ZM496.956 118.395C499.409 118.395 501.137 115.986 500.35 113.662L494.455 96.2469C493.354 92.9951 488.752 93.0032 487.662 96.2588L481.835 113.674C481.058 115.995 482.785 118.395 485.233 118.395H496.956Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M447.769 90.8031C447.769 95.9034 446.598 100.586 444.257 104.85C441.916 109.03 438.321 112.417 433.471 115.009C428.622 117.6 422.602 118.896 415.411 118.896H402.117V146.918C402.117 148.897 400.512 150.501 398.533 150.501H384.253C382.274 150.501 380.67 148.897 380.67 146.918V66.0423C380.67 64.0633 382.274 62.459 384.253 62.459H415.411C422.434 62.459 428.371 63.6713 433.22 66.0961C438.07 68.5208 441.707 71.8652 444.132 76.1294C446.557 80.3936 447.769 85.2848 447.769 90.8031ZM413.78 101.84C417.877 101.84 420.929 100.878 422.936 98.9552C424.943 97.0322 425.946 94.3148 425.946 90.8031C425.946 87.2915 424.943 84.5741 422.936 82.6511C420.929 80.728 417.877 79.7665 413.78 79.7665H405.7C403.721 79.7665 402.117 81.3708 402.117 83.3498V98.2564C402.117 100.235 403.721 101.84 405.7 101.84H413.78Z" fill="#001F3F"></path>
                    <path class="logo-text" d="M371.548 62.459C373.894 62.459 375.608 64.6761 375.016 66.9463L353.932 147.822C353.521 149.4 352.096 150.501 350.465 150.501H330.091C328.437 150.501 326.998 149.37 326.608 147.762L316.647 106.672C315.765 103.035 310.6 103.014 309.689 106.644L299.357 147.791C298.957 149.384 297.525 150.501 295.882 150.501H275.503C273.863 150.501 272.433 149.388 272.03 147.799L251.523 66.9231C250.948 64.6586 252.66 62.459 254.996 62.459H270.398C272.109 62.459 273.581 63.6688 273.913 65.3475L282.866 110.642C283.61 114.406 288.95 114.526 289.862 110.799L301.019 65.1909C301.411 63.5871 302.848 62.459 304.499 62.459H322.426C324.09 62.459 325.534 63.6037 325.915 65.2231L336.543 110.483C337.424 114.233 342.792 114.142 343.546 110.365L353.109 62.459H371.548Z" fill="#001F3F"></path>
                    <rect width="215.004" height="215" rx="53.7504" fill="#39CCCC"></rect>
                    <path d="M169.898 104.337C169.95 105.384 169.979 106.439 169.979 107.499C169.979 142.132 141.902 170.208 107.269 170.208C72.6352 170.208 44.5596 142.132 44.5596 107.499C44.5596 106.439 44.5857 105.385 44.6377 104.338C49.6699 108.621 55.9002 111.537 62.7568 112.513C65.2493 134.891 84.2254 152.291 107.269 152.291C130.312 152.291 149.288 134.89 151.78 112.512C158.637 111.536 164.866 108.62 169.898 104.337Z" fill="#001F3F"></path>
                    <path d="M53.751 111.083H62.7098C72.6049 111.083 80.6264 119.105 80.6264 129H53.751V111.083Z" fill="#001F3F"></path>
                    <rect x="116.461" y="44.7915" width="107.5" height="17.917" transform="rotate(90 116.461 44.7915)" fill="#001F3F"></rect>
                    <path d="M134.378 129C134.378 119.105 142.399 111.083 152.295 111.083H161.253V129H134.378Z" fill="#001F3F"></path>
                    <path d="M80.627 44.7915H98.5439V62.7082H86.002C83.0334 62.7082 80.627 60.3017 80.627 57.3331V44.7915Z" fill="#001F3F"></path>
                    <path d="M116.461 44.7915H134.378V57.3331C134.378 60.3017 131.971 62.7082 129.003 62.7082H116.461V44.7915Z" fill="#001F3F"></path>
                </svg>
            </a>
            <p class="license-footer-tagline">
                Revolutionizing and Forging the Future of WordPress with
                Cutting-Edge, State-of-the-Art Plugins Designed Exclusively for
                WooCommerce.
            </p>
        </div>

        <div class="license-footer-meta">
            <a
                href="mailto:support@wpanchorbay.com"
                class="license-footer-link"
            >
                support@wpanchorbay.com
            </a>
            <ThemeToggle />
        </div>

        <p class="license-footer-copyright">
            &copy; {new Date().getFullYear()} WPAnchorBay. All rights reserved.
        </p>
    </div>
</footer>

<style>
    .wpanchorbay-footer-logo {
        width: 100%;
        max-width: 260px;
        height: auto;
        display: block;
    }

    .logo-text {
        fill: var(--sl-color-white);
    }

    :root[data-theme="light"] .logo-text {
        fill: #001F3F;
    }
</style>
